.vs/
**/.vs/
**/x64/
**/obj/
**/Debug/
**/Release/
**/ipch/
**/*.user
**/*.suo
**/*.pdb
**/*.obj
**/*.ilk
**/*.tlog/
**/*.idb
**/*.pch
**/*.res
**/*.exp
**/*.lastbuildstate
**/*.VC.db
**/*.opendb
**/*.ncb
**/*.sdf
**/*.opensdf
**/*.tmp
**/*.bak
**/*.cache
**/Dumps/
**/Logs/
tests/results/
.env
*.local.json
*.log
*.dmp
dump.rdb
appendonly.aof
